<!doctype html>
<html lang="en" ng-app='ShoppingListApp'>
  <head>
    <title>Shopping List Check Off</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="styles/bootstrap.min.css">
    <script src="js/angular.min.js"></script>
    <script src="js/ShoppingListchecker.js"></script>
    <style>
      .emptyMessage {
        font-weight: bold;
        color: red;
        font-size: 1.2em;
      }
      li {
        margin-bottom: 7px;
        font-size: 1.2em;
      }
      li > button {
        margin-left: 6px;
      }
      button > span {
        color: green;
      }
    </style>
  </head>
<body>
  <div class="container">
  <h1>Shopping List Check Off</h1>

  <div class="row">

    <!-- To Buy List -->
    <div class="col-md-6" ng-controller='ToBuyListController as toBuy'>
     <h2>To Buy:</h2>
     <ul>
       <li ng-repeat="item in toBuy.items">
         Buy {{ item.quantity }} of {{ item.name }}
         <button class="btn btn-default" ng-click="toBuy.removeItem($index);"><span class="glyphicon glyphicon-ok"></span> Bought</button>
       </li>
     </ul>
     <div ng-show="toBuy.items.length < 1" class="emptyMessage">{{toBuy.errorMessage}}</div>
    </div>

    <!-- Already Bought List -->
    <div class="col-md-6" ng-controller='BoughtListController as Bought'>
     <h2>Already Bought:</h2>
     <ul>
       <li ng-repeat="item in Bought.items">
         Bought {{ item.quantity }} of {{ item.name }}
       </li>
     </ul>
     <div ng-show="Bought.items.length < 1" class="emptyMessage">{{Bought.errorMessage}}</div>
    </div>
  </div>
</div>

</body>
</html>
